<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
   <%- include("partials/header.ejs") %>
</head>

<body>

    <div class="header-video-container">
        <video autoplay muted loop>
            <source src="./Videos/showreel.mp4" type="video/mp4">
            </video>
    </div>
</div>
<div class="first-items-container">
    <a href="portfolio.html"><img id="image1" src="./Images/me1.png" alt="portfolio's icon" ></a>
    <a id="first" href="/portfolio.html">Portfolio</a>
    <a href="about.html"><img id="image2" src="./Images/about.png" alt="about me's icon" ></a>
    <a id="second" href="/about.html">About</a>
    <a href="services.html"><img id="image3" src="./Images/Services.png" alt="services' icon" ></a>
    <a id="third" href="/portfolio.html">Services</a>
    <a href="contact.html"><img id="image4" src="./Images/contact.png" alt="contact me's icon" ></a>
    <a id="fourth" href="/portfolio.html">Contact</a>
</div>

<div class="middle">
    <div class="widgets">
        <a href="https://www.linkedin.com/in/hamid-reza-mazinani/" target="_blank"><img src="./Images/linkedin.png" width="25px" ></a>
        <a href="http://www.youtube.com/@hamidreza232" target="_blank"><img class="widgets" src="./Images/youtube.png" width="30px"></a>
        <a href="https://instagram.com/7skie.s" target="_blank"><img src="./Images/instagram.png" width="30px"></a>
   </div>
    <div class="text">Life is like a timeline, each moment a unique chapter that unfolds with a blend of joy, <br> challenges, and unforeseen twists,<br> weaving a narrative of growth and discovery.
    </div>
      
</div>


<div class="grid-title-container">
    <h2>PORTFOLIO</h2>
</div>

<div class="grid-container">
    <div class="item1"><a href="https://youtu.be/3glqtTAWPBg" target="_blank"><img src="./Images/1.png" alt=""></div></a>
    <div class="item1"><a href="https://youtu.be/vaomzr61uMU" target="_blank"><img src="./Images/9.png" alt=""></div></a>
    <div class="item1"><a href="https://www.youtube.com/watch?v=0yW1BhWpxiQ" target="_blank"><img src="./Images/capsules.png" alt=""></div></a>
    <div class="item1"><a href="#"><img src="./Images/4.png" alt=""></div></a>
    <div class="item1"><a href="#"><img src="./Images/2.png" alt=""></div></a>
    <div class="item1"><a href="#"><img src="./Images/6.png" alt=""></div></a>
    <div class="item1"><a href="#"><img src="./Images/7.png" alt=""></div></a>
    <div class="item1"><a href="#"><img src="./Images/08.png" alt=""></div></a>
</div>

<h2 class="m-header">Services</h2>
<div class="m-services">
    <div class="m-services title">
        <p class="m-services title text">Video Edit</p>
        <p class="m-services title subtext" >Do you need stunnig and eye-catching videos<br>for your business then you are in the right place!</p>
        <p class="m-services title text">2D/3D Motion Graphics</p>
        <p class="m-services title subtext" >Wow Wow Wow<br>Any buisnesses have its own story!<br>Don't hesitate your time get in touch with me to have coaporation<br>for new brand commercial video for your business</p>
    </div>    
    <div class="m-services image"><img src="./images/m-services.jpg" alt=""></div>
    <div class="m-services title">
        <p class="m-services title text">Script Writing</p>
        <p class="m-services title subtext" >A good result has a good story<br>I'm here beside you to do it together :)</p>
        <p class="m-services title text">Frontend Devlopment</p>
        <p class="m-services title subtext" >I'm aware that the design says the first words<br>You have only 3-5 seconds to catch your visitors' eyes<br>That's why the design is important!</p>
    </div>    
</div>


<div class = "m-quotes-container">
    <p class="quote-symbol"></p>
    <p class="quote-text">”I love editing. I think I like it more than any other phase of filmmaking.<br> If I wanted to be frivolous, I might say that everything that precedes editing is merely<br> a way of producing film to edit.” <br> -Stanley Kubrick</p>
    <p class="quote-owner-position">Director</p>
</div>
<div class="m-quotes">
    <img src="./images/kubrick.png" alt="">
</div>


<%- include("partials/footer.ejs") %>

</body>
</html>
